@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

body {
  width: 100%;
  min-height: 100vh;
  background-color: #FFFFFF;
  box-sizing: border-box;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: #fff3;
  -webkit-border-radius: 1ex;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: #fff3;
  -webkit-border-radius: 1ex;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #FF9921;
  -webkit-border-radius: 1ex;
  margin-top: 2%;
}

.custom-scrollbar::-webkit-scrollbar-corner {
  background: #fff3;
}

